name: Windows build

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

env:
  TARGETS: LifeExeEngine

jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        configuration:
          - Release
          - Debug

    steps:
      - uses: actions/checkout@v4

      - name: Install Conan
        run: pip install conan

      - name: Configure CMake
        run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{matrix.configuration}}

      - name: Build
        run: cmake --build ${{github.workspace}}/build --config ${{matrix.configuration}} -v --target ${{env.TARGETS}}

      - name: Archive Artifacts
        run: Compress-Archive -Path build/bin/* -DestinationPath artifacts-${{matrix.configuration}}.zip

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: artifacts-${{matrix.configuration}}
          path: artifacts-${{matrix.configuration}}.zip
